{%- if vendor == 'Juniper' %} replace:
interfaces {
{% for neighbor in info.neighbors %}
    {{ neighbor.interface }} {
        unit 0 {
            description "{{ neighbor.name }}";
            family inet {
                address {{ neighbor.local_ip }}/{{ neighbor.mask }};
            }
        }
    }
{% endfor %}
}
{%- endif %}
